# Unity files

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Rr]ecordings/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

crashlytics-build.properties
sysinfo.txt

# IDE files

/[Aa]ssets/Plugins/Editor/JetBrains*
/.idea/
/.vs/
/.gradle/
/ExportedObj/
/.consulo/

.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# System files

*.lnk
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride
